doctype html
html
  head
    title= title
    link(rel='shortcut icon' type='image/png' href='/images/food-truck.svg')
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css'
     integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=='
     crossorigin='')
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(href='https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css' media='all' rel='stylesheet')
    link(href='https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css' media='all' rel='stylesheet')
    link(href='https://kit-free.fontawesome.com/releases/latest/css/free.min.css' media='all' rel='stylesheet')

    script(src='https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.8.0.js')
    script(src='https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.22/jquery-ui.js')
    script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js'
     integrity='sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=='
     crossorigin='')
    script(src='/javascripts/main.js')
    script(src='/javascripts/map-controls.js')
  body
    main#wrap
      #mymap

      #attrib
        .branding
          .title Food Truck Finder
          .brands
            .powered Presented by
            a.brand1(href='https://thesheridanpress.com')
              img(src='/images/press.png' alt='The Sheridan Press')
            a.brand2(href='https://www.agterra.com')
              img(src='/images/agterra.png' alt='AgTerra Technologies, Inc.')
          .attrib
            span
              span Food Truck Data compiled by
              a(href='https://www.thesheridanpress.com') The Sheridan Press
              span .&nbsp;
            br
            span
              span Map powered by&nbsp;
              a(href='https://www.agterra.com') AgTerra Technologies
              span ,&nbsp;
              a(href='https://www.mapbox.com/') Mapbox
              span &nbsp;and&nbsp;
              a(href='https://www.openstreetmap.org/') OpenStreetMap
              span .
    aside#marker
      include food-truck.html
